# Python virtual environment
.venv/
env/
venv/
pyvenv.cfg
data/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
build/
dist/
*.egg-info/
.eggs/

# VS Code settings
.vscode/

# Mac / Linux / Windows system files
.DS_Store
Thumbs.db
